@using RealtyApp.Core.Application.ViewModels.ImmovableAsset;
@using RealtyApp.Core.Application.ViewModels.ImmovableAssetType;
@model List<ImmovableAssetViewModel>
@{
    ViewData["Title"] = "Home Page";
    DataFilterViewModel filterVm = ViewBag.DataFilterViewModel;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card shadow">
                <div class="card-header text-dark text-center">
                    <h4>Filtros</h4>
                </div>
                <div class="card-body text-dark">

                    <form method="post" asp-controller="Home" asp-action="Index">

                        <input type="hidden" name="Code" id="codeHidden" value="" />
                        <h4 class="card-title mb-2 text-center">Tipos de propiedad</h4>

                        <div class="mb-2 ms-3">
                            <div class="form-check">
                                <input class="form-check-input fs-5" value="0" type="radio" name="ImmovableAssetTypeId" id="immovableAssetType-all" onchange="GetTypeIdValue(0)"/>
                                <label class="form-check-label fs-5" for="immovableAssetType-all">Todas</label>
                            </div>
                        </div>

                        @foreach (ImmovableAssetTypeViewModel type in ViewBag.ImmovableAssetTypes)
                        {
                            <div class="mb-2 ms-3">
                                <div class="form-check">
                                    <input class="form-check-input fs-5" value="@type.Id" type="radio" name="ImmovableAssetTypeId" id="immovableAssetType-@type.Id" onchange="GetTypeIdValue(@type.Id)"/>
                                    <label class="form-check-label fs-5" for="ImmovableAssetType-@type.Id">@type.Name</label>
                                </div>
                            </div>
                        }

                        @if (filterVm != null)
                        {
                            <div class="input-group mb-2">
                                <h4 class="card-title mb-2">Precio minimo y máximo</h4>
                                <label for="minRange" class="form-label m-0">Precio minimo</label>
                                <input type="range" class="form-range" name="MinPrice" min="0" max="@filterVm.MinPrice" value="0" id="minRange">

                                <b>$ <small id="minvalue">0</small></b>

                                <script>

                                    const $minRange = document.getElementById("minRange");
                                    const $minlabel = document.getElementById("minvalue");

                                    $minRange.addEventListener('change', (e) => {
                                        $minlabel.textContent = e.target.value;
                                        minHidden.value = e.target.value;
                                    });

                                </script>

                            </div>

                            <div class="input-group mb-2">
                                <label for="maxRange" class="form-label m-0">Precio máximo</label>
                                <input type="range" class="form-range" name="MaxPrice" min="@filterVm.MinPrice" max="@filterVm.MaxPrice" value="@filterVm.MaxPrice" id="maxRange">
                                <b>$ <small id="maxvalue">@filterVm.MaxPrice</small></b>

                                <script>

                                    const $maxRange = document.getElementById("maxRange");
                                    const $maxlabel = document.getElementById("maxvalue");

                                    $maxRange.addEventListener('change', (e) => {
                                        $maxlabel.textContent = e.target.value;
                                        maxHidden.value = e.target.value;
                                    });

                                </script>
                            </div>

                            <div class="mb-2">
                                <h4 class="card-title mb-2">Cantidad de habitaciones</h4>
                                <input type="range" class="form-range" name="BedroomQuantity" min="0" max="@filterVm.MaxBedroomQuantity" value="0" id="bedroomRange">
                                <span><i class="fa-solid fa-bed"></i> <small id="bedroomValue">0</small> </span>

                                <script>

                                    const $bedroomRange = document.getElementById("bedroomRange");
                                    const $bedroomValue = document.getElementById("bedroomValue");

                                    $bedroomRange.addEventListener('change', (e) => {
                                        $bedroomValue.textContent = e.target.value;
                                        bedroomHidden.value = e.target.value;
                                    });

                                </script>
                            </div>

                            <div class="mb-2">
                                <h4 class="card-title mb-2">Cantidad de baños</h4>
                                <input type="range" class="form-range" name="BathroomQuantity" min="0" max="@filterVm.MaxBathroomQuantity" value="0" id="bathroomRange">
                                <span> <i class="fa-solid fa-bath"></i> <small id="bathroomValue">0</small> </span>

                                <script>

                                    const $bathroomRange = document.getElementById("bathroomRange");
                                    const $bathroomValue = document.getElementById("bathroomValue");

                                    $bathroomRange.addEventListener('change', (e) => {
                                        $bathroomValue.textContent = e.target.value;
                                        bathroomHidden.value = e.target.value;
                                    });

                                </script>

                            </div>
                        }
                        else
                        {
                            <div class="input-group mb-2">
                                <label for="minRange" class="form-label m-0">Precio minimo</label>
                                <input type="range" class="form-range" name="MinPrice" min="0" max="5" value="0" id="minRange">
                                <b>$ <small id="minvalue">0</small></b>

                                <script>

                                    const $minRange = document.getElementById("minRange");
                                    const $minlabel = document.getElementById("minvalue");

                                    $minRange.addEventListener('change', (e) => {
                                        $minlabel.textContent = e.target.value;
                                        minHidden.value = e.target.value;
                                    });

                                </script>

                            </div>

                            <div class="input-group mb-2">
                                <label for="maxRange" class="form-label m-0">Precio máximo</label>
                                <input type="range" class="form-range" name="MaxPrice" min="5" max="10" value="0" id="maxRange">
                                <b>$ <small id="maxvalue">0</small></b>

                                <script>

                                    const $maxRange = document.getElementById("maxRange");
                                    const $maxlabel = document.getElementById("maxvalue");

                                    $maxRange.addEventListener('change', (e) => {
                                        $maxlabel.textContent = e.target.value;
                                        maxHidden.value = e.target.value;
                                    });

                                </script>
                            </div>

                            <div class="mb-2">
                                <h4 class="card-title mb-2 text-center">Cantidad de habitaciones</h4>
                                <input type="range" class="form-range" name="BedroomQuantity" min="0" max="5" value="0" id="bedroomRange">
                                <span><i class="fa-solid fa-bed"></i> <small id="bedroomValue">0</small> </span>

                                <script>

                                    const $bedroomRange = document.getElementById("bedroomRange");
                                    const $bedroomValue = document.getElementById("bedroomValue");

                                    $bedroomRange.addEventListener('change', (e) => {
                                        $bedroomValue.textContent = e.target.value;
                                        bedroomHidden.value = e.target.value;
                                    });

                                </script>
                            </div>

                            <div class="mb-2">
                                <h4 class="card-title mb-2 text-center">Cantidad de baños</h4>
                                <input type="range" class="form-range" name="BathroomQuantity" min="0" max="5" value="0" id="bathroomRange">
                                <span> <i class="fa-solid fa-bath"></i> <small id="bathroomValue">0</small> </span>

                                <script>

                                    const $bathroomRange = document.getElementById("bathroomRange");
                                    const $bathroomValue = document.getElementById("bathroomValue");

                                    $bathroomRange.addEventListener('change', (e) => {
                                        $bathroomValue.textContent = e.target.value;
                                        bathroomHidden.value = e.target.value;
                                    });

                                </script>
                            </div>
                        }

                        <button type="submit" class="btn btn-outline-primary form-control">Filtrar</button>

                    </form>


                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card mx-0">
                <div class="card-header mb-0 text-dark">
                    <h2 class="text-center mb-2">!Encuentra la propiedad!</h2>
                    <form method="post" asp-controller="Home" asp-action="Index">

                        <input type="hidden" name="ImmovableAssetTypeId" id="assetTypeHidden" value="" />
                        <input type="hidden" name="MinPrice" id="minHidden" value="0" />
                        <input type="hidden" name="MaxPrice" id="maxHidden" value="" />
                        <input type="hidden" name="BathroomQuantity" id="bathroomHidden" value="" />
                        <input type="hidden" name="BedroomQuantity" id="bedroomHidden" value="" />

                        <div class="input-group mb-1">
                            <input type="text" class="form-control rounded" name="Code" id="codeTxt" onchange="GetCodeValue()" placeholder="Escribe el código de la propiedad que quieres encontrar" aria-label="Escribe el código de la propiedad que quieres encontrar" aria-describedby="search-addon" />
                            <button type="submit" class="btn btn-success">Buscar</button>
                        </div>
                    </form>
                </div>
                @if (Model == null || Model.Count == 0)
                {
                    <h3 class="text-lg-center mb-3">No hay propiedades creadas, espere.</h3>
                }
                else
                {
                    <div class="card-body">
                        <div class="row">
                            @foreach (ImmovableAssetViewModel item in Model)
                            {
                                <div class="col-6 mb-3" style="height: 550px">
                                    <div class="card shadow rounded h-100">
                                        <div class="h-50">
                                            <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"><img src="@item.UrlImage01" class="card-img h-100" /></a>
                                        </div>

                                        <div class="card-body mt-3 h-50">
                                            <div class="mb-2">
                                                <a class="text-decoration-none text-dark details-hov" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"><h4>@item.ImmovableAssetTypeName</h4></a>
                                                <small class="card-text text-secondary fs-6">@item.Address</small>
                                            </div>

                                            <div class="mb-2">
                                                <small class="card-text text-secondary fs-6">Código</small>
                                                <h4>@item.Code</h4>
                                            </div>

                                            <div class="mb-2">
                                                <small class="card-text text-secondary fs-6">@item.SellTypeName</small>
                                                <h4 class="text-danger">RD$ @item.Price</h4>
                                            </div>

                                            <div class="d-flex mb-2 border-top border-secondary align-items-center justify-content-center fs-5">
                                                <div class="mt-2">
                                                    <i class="fa-solid fa-bed"></i>
                                                    <small class="card-text text-secondary">@item.BedroomQuantity</small>
                                                </div>
                                                <div class="ms-3 mt-2">
                                                    <i class="fa-solid fa-bath"></i>
                                                    <small class="card-text text-secondary">@item.BathroomQuantity</small>
                                                </div>
                                                <div class="ms-3 mt-2">
                                                    <i class="fa-solid fa-ruler-horizontal"></i>
                                                    <small class="card-text text-secondary">@item.Meters mts</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>