
@using RealtyApp.Core.Application.ViewModels.ImmovableAssetType;
@model List<ImmovableAssetTypeViewModel>
@{
    ViewData["Title"] = "Mantenimiento de tipos de propiedades";
}
<div class="container-fluid">
    <div class="cont_btn_createGeneric">
        <a class="btn btn-outline-primary btn_createGeneric " asp-controller="ImmovableType" asp-action="Create" >Crea nuevo tipo de propiedad</a>
    </div>
    <div class="row">
        @foreach (ImmovableAssetTypeViewModel immType in Model)
        {
            <div class="col-3 cont_Card_Type_Immovable">
                <div class="card shadow cont_Card_Type_Immovable">
                    <div class="card-header card_Title text-dark text-center">
                        <h4>Tipo de propiedad</h4>
                    </div>
                    <div class="card-body text-dark cont_BodyType_Immovable">
                        <div class="cont_Img_Index_admin">
                            <img class="bd-placeholder-img card-img-top img_Index_admin" src="~/Images/HomeAdmin/immovable.jpeg" />
                        </div>
                        <p class="card-title mb-2 text-center"> <b>Nombre:</b>  @immType.Name</p>
                        <p class="card-title mb-2 text-center"> <b>Descripcion:</b>  @immType.Description</p>
                        <p class="card-title mb-2 text-center"><b>Propiedades con este tipo:</b>  @immType.CountUseType</p>
                        <div class="btn-group btn_Type_Immovable">
                            <a asp-controller="ImmovableType" asp-action="Edit" asp-route-id="@immType.Id" class="btn btn-sm btn-outline-warning">Editar</a>
                            <a asp-controller="ImmovableType" asp-action="Delete" asp-route-id="@immType.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>