@using RealtyApp.Core.Application.ViewModels.SellType;
@model List<SellTypeViewModel>
@{
    ViewData["Title"] = "Tipo de ventas de propiedades";
}
<div class="container-fluid">
    <div class="cont_btn_createGeneric">
        <a class="btn btn-outline-primary btn_createGeneric " asp-controller="SellType" asp-action="Create">Crear nuevo tipo de venta</a>
    </div>
    <div class="row">
        @foreach (SellTypeViewModel sellType in Model)
        {
            <div class="col-3 cont_Card_Type_Immovable">
                <div class="card shadow cont_Card_Type_Immovable">
                    <div class="card-header card_Title text-dark text-center">
                        <h4>Tipo de venta</h4>
                    </div>
                    <div class="card-body text-dark cont_BodyType_Immovable">
                        <div class="cont_Img_Index_admin">
                            <img class="bd-placeholder-img card-img-top img_Index_admin" src="~/Images/HomeAdmin/immovable.jpeg" />
                        </div>
                        <p class="card-title mb-2 text-center"> <b>Nombre:</b> @sellType.Name</p>
                        <p class="card-title mb-2 text-center"><b>Descripcion:</b>  @sellType.Description</p>
                        <p class="card-title mb-2 text-center"><b>Propiedades con este tipo:</b> @sellType.CountUseType</p>
                        <div class="btn-group btn_Type_Immovable">
                            <a asp-controller="SellType" asp-action="Edit" asp-route-id="@sellType.Id" class="btn btn-sm btn-outline-warning">Editar</a>
                            <a asp-controller="SellType" asp-action="Delete" asp-route-id="@sellType.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>