@using RealtyApp.Core.Application.ViewModels.ImmovableAsset
@using Microsoft.AspNetCore.Http
@using RealtyApp.Core.Application.Dtos.Account
@using RealtyApp.Core.Application.Helpers;
@inject IHttpContextAccessor httpContextAccessor
@model DetailsViewModel
@{
    ViewData["Title"] = "Detalle del inmobiliario";
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAgent = User != null ? User.Roles.Any(r => r == "Agent") : false;
    var isClient = User != null ? User.Roles.Any(r => r == "Client") : false;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="mb-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        @if (Model.UrlImage02 != null)
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        }
                        @if (Model.UrlImage03 != null)
                        {
                            @if (Model.UrlImage02 == null)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            }
                            else
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            }
                        }
                        @if (Model.UrlImage04 != null)
                        {
                            @if (Model.UrlImage02 == null && Model.UrlImage03 == null)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            }
                            else if (Model.UrlImage03 == null)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            }
                            else
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            }
                        }
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@Model.UrlImage01" class="d-block w-100 carousel-img-size" alt="...">
                        </div>
                        @if (Model.UrlImage02 != null)
                        {
                            <div class="carousel-item">
                                <img src="@Model.UrlImage02" class="d-block w-100 carousel-img-size" alt="...">
                            </div>
                        }
                        @if (Model.UrlImage03 != null)
                        {
                            <div class="carousel-item">
                                <img src="@Model.UrlImage03" class="d-block w-100 carousel-img-size" alt="...">
                            </div>
                        }
                        @if (Model.UrlImage04 != null)
                        {
                            <div class="carousel-item">
                                <img src="@Model.UrlImage04" class="d-block w-100 carousel-img-size" alt="...">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <small class="border border-secondary text-secondary bg-white p-1 fs-6">Código: <b>@Model.Code</b></small>
                            <h3 class="card-title mt-2">@Model.ImmovableAssetTypeName</h3>
                        </div>
                        <hr />
                        <div class="mb-3">
                            <small class="text-secondary fs-6">@Model.SellTypeName</small>
                            <h3 class="text-danger">RD$ @Model.Price</h3>
                        </div>
                        <hr />
                        <div class="d-flex mb-2">
                            <div class="me-2 text-dark bg-light p-1">
                                <i class="fa-solid fa-bed"></i>
                                <small class="card-text">@Model.BedroomQuantity Habitación(es)</small>
                            </div>
                            <div class="me-2 text-dark bg-light p-1">
                                <i class="fa-solid fa-bath"></i>
                                <small class="card-text">@Model.BathroomQuantity Baño(s)</small>
                            </div>
                            <div class="me-2 text-dark bg-light p-1">
                                <i class="fa-solid fa-ruler-horizontal"></i>
                                <small class="card-text">@Model.Meters mt</small>
                            </div>
                        </div>
                        <hr />
                        <div class="mb-3">
                            <h3 class="">Descripción</h3>
                            <p class="mt-1 text-secondary text-bg-light p-1">@Model.Description</p>
                        </div>
                        <div class="mb-4">
                            <h3 class="mb-3">Mejoras</h3>
                            <div class="d-flex">
                                @if (Model.ImprovementNames != null && Model.ImprovementNames.Count > 0)
                                {
                                    @foreach (string item in Model.ImprovementNames)
                                    {
                                        <div class="d-flex bg-light ms-3 text-dark align-content-center justify-content-center">
                                            <i class="fa-regular fa-2x fa-circle-check me-1"></i>
                                            <span class="fs-5">@item</span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h6 class="text-warning">Esta propiedad no posee mejoras inmobiliarias.</h6>
                                }

                            </div>
                        </div>
                        @if(User != null){
                            <a asp-controller="@(isClient ? "Client" : "Agent")" asp-action="Index" class="btn btn-danger form-control">Volver al home</a>
                        }else{
                            <a asp-controller="Home" asp-action="Index" class="btn btn-danger form-control">Volver al home</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-text">Información de agente</h4>
                    <hr />
                    <div class="mb-3">
                        <img src="@Model.AgentImgUrl" class="avatar-img rounded mb-2" />
                        <h6 class="">@Model.AgentName</h6>
                    </div>
                    <div class="mb-3">
                        <div class="d-flex align-content-center">
                            <i class="fa-solid fa-2x fa-mobile-screen"></i>
                            <small class="text-secondary fs-5 ms-1">Celular</small>
                        </div>
                        <h6 class="text-primary fs-5 ms-1">@Model.AgentPhone</h6>
                    </div>
                    <div class="mb-1">
                        <div class="d-flex align-content-center">
                            <i class="fa-solid fa-2x fa-envelope"></i>
                            <small class="text-secondary fs-5 ms-1">Email</small>
                        </div>
                        <h6 class="fs-5 ms-1"><a>@Model.AgentEmail</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
